# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Outputs grandes — no versionar en git
data/processed/
outputs/models/

# SÍ versionar datos crudos y espaciales
!data/raw/
!data/raw/.gitkeep
!data/spatial/
!data/spatial/.gitkeep

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
